:host {
  display: block;
  width: 780px;
}

.my-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}

.my-heading {
  color: var(--color-secondary-text);
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0;
}

.my-tabs {
  display: flex;
  gap: 1rem;
  margin-bottom: 2.5rem;
}

.my-tab {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--color-white);
  color: var(--color-gray-60);
  height: 3.125rem;
  border: 1px solid var(--border-color-secondary);
  border-radius: 20px;
  padding: 1rem;

  &.is-active {
    background-color: var(--color-ghost-white);
    color: var(--primary-violet);
    font-weight: 600;
    border-color: var(--primary-violet);
  }
}

.my-grid {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 1.5rem 1rem;
}

.my-label {
  color: var(--color-gray-60);
}

.my-email {
  color: var(--color-gray-60);
  font-weight: 600;
}

.my-link {
  color: var(--color-gray-60);
}

.my-form-field {
  padding: 0.25rem 0.75rem;

  min-height: 2.25rem;
  outline: 1px solid var(--color-gray-50);
  border-radius: 8px;

  &:focus-within {
    outline-width: 2px;
  }

  &.has-error {
    outline-color: var(--color-red);
  }

  input,
  textarea {
    color: var(--color-primary-text);
    border: none;
    outline: none;
    width: 100%;
  }
}

.my-caption {
  margin-top: 0.5rem;
  color: var(--color-gray-50);
  font-size: 0.75rem;
  letter-spacing: 0.25px;
  line-height: 1rem;
}

.my-footer {
  margin-top: 2.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

p {
  margin-bottom: 0;
}
