:host {
  display: block;
  width: 70%;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 26px 0 0 26px;
  background-color: var(--color-white);
  overflow: auto;
  padding-left: 4rem;
  padding-right: 4rem;
  height: 100%;
}

.my-close-button {
  margin-top: 5rem;
}

img {
  margin-right: 1.5rem;
}

h1 {
  font-size: 1.5rem;
  color: var(--color-primary-text);
}

h2, h3, h4 {
  font-size: 0.75rem;
  color: var(--color-gray-70);
  font-weight: 600;
}


h5,
.my-skill-description, {
  font-size: 1rem;
  color: var(--color-primary-text);
  font-weight: 600;
}

.my-skill-information {
  display: flex;
  margin-top: 2rem;

  div {
    margin-right: 5rem;
  }

  p {
    font-weight: bold;
    margin-bottom: 0;
  }
}

article {
  height: auto;
  width: 100%;
  border: 1px solid var(--color-gainsboro);
  border-radius: 15px;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

.my-relationship-detail {
  p {
    margin-top: 0.5rem;
    font-size: 0.75rem;
    color: var(--color-gray-70);
  }
}