@use 'abstracts/mixins' as *;

footer {
  background-color: var(--footer-bg-color);
}

.my-footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;

  p {
    color: var(--font-color-links);
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0;
  }

  ul {
    @include reset-ul;
  }

  li {
    color: var(--font-color-links);
    font-size: 1rem;
    letter-spacing: 0;
    line-height: 1rem;
    margin-bottom: 1.5rem;
  }
}

.my-sub-footer {
  border-top: 1px solid var(--border-color);
  padding-top: 1rem;
  padding-bottom: 1rem;
}