<ng-container *transloco="let t; read: 'complete_profile'">
  <div class="my-dialog-content">
    <img ngSrc="assets/images/icon-svgs/icon-bubble-check.svg" width="64" height="64" [alt]="t('get_started.heading')"/>
    <h1>{{ t('get_started.heading') }}</h1>
    <p class="my-get-started">{{ t('get_started.description') }}</p>
    <ob-erasmus-reveal-language-selection class="mt-5"></ob-erasmus-reveal-language-selection>
    <button class="app-button" color="primary" (click)="onClick()">{{ t('get_started.start') }}</button>
  </div>
</ng-container>