<!-- Introduction -->
<section *transloco="let t; read: 'home'" class="container">
  <div class="row">

    <!-- left part of homepage -->
    <article class="my-homepage col-12 col-lg-7">
      <h1>{{ t('heading') }}</h1>
      <p class="my-skills-description"> {{ t('description') }}</p>
      <!-- TODO - add app-button similar to Language PR merge -->
      <div class="d-flex">
        <a class="app-button" color="primary">{{ t('promote_skills') }}</a>
        <div class="my-skills-meta">
          <p> {{ t('skills_meta_description') }}</p>
        </div>
      </div>

      <div class="my-targets">
        <div *ngFor="let target of targets">
          <img [src]="target.path" [alt]="t(target.altLabel)"/>
          <p class="my-target-label">{{ t(target.label) }}</p>
          <p class="my-target-description">{{ t(target.description) }}</p>
        </div>
      </div>
    </article>
    <!-- left part of homepage -->

    <!-- right image on homepage -->
    <div class="col-12 col-lg-5 my-user-skills">
      <img src="assets/images/homepage/home-cover-BG.svg" [alt]="t('skills_alt')"/>
    </div>
  </div>
</section>
<!-- Introduction ends here -->

<!-- TODO charts, Next PR -->

<!--about section -->
<ob-erasmus-reveal-about></ob-erasmus-reveal-about>
<!-- about section ends here -->
<!-- join reveal section -->
<section class="my-join-now">
  <ob-erasmus-reveal-join-now></ob-erasmus-reveal-join-now>
</section>