@import "abstracts";

.my-homepage {
  margin: auto;

  h1 {
    margin-bottom: 2rem;
  }

  .my-skills-description {
    font-size: 1.5rem;
    color: var(--color-primary-text);
    margin-bottom: 2.5rem;
    font-weight: 500;
  }

  a {
    padding: 1.5rem;
    font-size: 1.5rem;
    height: 3rem;
    flex: 0 0 auto;
    margin-right: 1rem;
  }

  .my-skills-meta {
    font-style: italic;
    color: var(--color-gray-50);
    margin-top: 0.5rem;
  }
}

.my-user-skills {
  margin-top: -6.5rem; // TODO - check in the channel for mobile device usage
}

.my-join-now {
  background-color: var(--primary-violet);
  color: var(--color-white);
}

.my-targets {
  display: flex;
  justify-content: space-between;
  margin-top: 6rem;

  p {
    font-weight: bold;
    margin-bottom: 0;
  }
}

.my-target-label {
  margin-top: 0.875rem;
  color: var(--color-gray-70);
}

.my-target-description {
  color: var(--primary-violet);
}

.my-join-now-content {
  text-align: center;
  width: 400px;
  padding-top: 7.5rem;
  padding-bottom: 3.5rem;

  .my-member {
    display: flex;

    p {
      font-size: 1rem;
      margin-right: 1rem;
    }
  }
}

.my-global-skills {
  background-color: var(--color-ghost-white);
  margin-bottom: 3rem;
  h2 {
    padding-top: 3.5rem;
  }
  h2, h3, h4 {
    font-size: 2.5rem;
    color: var(--color-primary-text);
    text-align: center;
    line-height: 50px;
    margin-bottom: 0;
  }
}

.my-signup {
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
}