@use 'abstracts/mixins' as *;

.my-heading {
  color: var(--color-secondary-text);
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 2.5rem;
  margin-bottom: 2.5rem;
}

.my-description {
  color: var(--color-secondary-text);
  font-weight: 500;
  margin-bottom: 0.75rem;
}

.my-footer {
  @include fixed-footer(100vw);
}

.my-footer-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}
