<ob-erasmus-reveal-profile-header></ob-erasmus-reveal-profile-header>
<ng-container *transloco="let t; read: 'feedback_request.creation'">
  <div class="container mt-5">
    <div class="row">
      <div class="col-8 mx-auto">
        <h1 class="my-heading">{{ t('heading') }}</h1>
        <p class="my-description">{{ t('description') }}</p>
        <ob-erasmus-reveal-skills-feedback [skills]="skills" (selectSkills)="setSelectedSkills($event)"></ob-erasmus-reveal-skills-feedback>
      </div>
    </div>
  </div>

  <div class="my-footer">
    <div class="container">
      <div class="row">
        <div class="col-8 mx-auto my-footer-content">
          <button class="app-button-stroked" routerLink="/profile">{{ t('cancel') }}</button>
          <button
            class="app-button"
            color="primary"
            [disabled]="selectedSkills.length === 0 || (loadingService.loading$ | async)"
            (click)="openModal()"
          >
            {{ t('next') }}
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-container>
