<ng-container *transloco="let t; read: 'feedback_request.creation'">
  <div class="container">
    <div class="row">
      <div class="col-8 mx-auto">
        <h1 class="my-heading">{{ t('heading') }}</h1>
        <p class="my-description">{{ t('description') }}</p>
        <div class="d-flex justify-content-between">
          <span class="my-prompt">{{ t('select_skills') }}</span>
          <!-- FIXME for some reason, was not able to make messageformat work with transloco 🤷 -->
          <span class="my-count" [class.is-filled]="selectedSkills.length > 0">{{
            t(selectedSkills.length > 1 ? 'skills_selected' : 'skill_selected', { count: selectedSkills.length })
          }}</span>
        </div>

        <div class="my-skills">
          <button *ngFor="let skill of skills" class="my-skill" [class.is-selected]="isSelected(skill)" (click)="toggleSelection(skill)">
            <div class="my-skill-heading">
              <div class="my-icon">
                <mat-icon color="primary">check_box</mat-icon>
                <img [ngSrc]="skill | skillImageUrl" fill [alt]="t('unselected')" />
              </div>
              <span>
                {{ skill.prefLabel | czLabel }}
              </span>
            </div>
            <div class="my-skill-description">
              {{ skill.description | czLabel }}
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="my-footer">
    <div class="container">
      <div class="row">
        <div class="col-8 mx-auto my-footer-content">
          <!-- TODO back to profile page -->
          <button class="app-button-stroked" routerLink="/">{{ t('cancel') }}</button>
          <button
            class="app-button"
            color="primary"
            [disabled]="selectedSkills.length === 0 || (loadingService.loading$ | async)"
            (click)="openModal()"
          >
            {{ t('next') }}
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-container>
