$my-shadow: 0 2px 4px 0 rgba(40, 41, 61, 0.04), 0 8px 16px 0 rgba(96, 97, 112, 0.16);

.my-heading {
  color: var(--color-secondary-text);
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 2.5rem;
  margin-bottom: 2.5rem;
}

.my-description {
  color: var(--color-secondary-text);
  font-weight: 500;
  margin-bottom: 0.75rem;
}

.my-footer {
  width: 100vw;
  height: 68px;
  position: fixed;
  z-index: 1;
  bottom: 0;
  background-color: var(--color-white);
  border-top: 1px solid var(--border-color);
  box-shadow: var(--app-box-shadow);

  div {
    height: 100%;
  }
}

.my-footer-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}
