:root {
  --skills-border-radius: 0 55px 0 55px;
  --color-primary-text: #30242a;
  --color-secondary-text: var(--color-gray-70);
  --color-tertiary-text: #1f1f1f;
  --color-gray-50: #7a7a7a;
  --color-gray-60: #686868;
  --color-gray-70: #505050;
  --color-gainsboro: #dcdcdc;
  --color-black-eerie: #1f1f1f;
  --color-pale-yellow: #fefbeb; // Names to be checked with Zoe
  --color-floral-white: #f2fbf7;
  --color-ghost-white: #f4f4fc;
  --color-white: #fff;
  --color-red: #ef3340;
  --border-color: #c6c6c6;
  --border-color-secondary: #dcdcdc;
  --join-bg-color: linear-gradient(135deg, #cd1aff 0%, #1d80ff 100%);
  --footer-bg-color: #f9f9fd;
  --primary-violet: #5b43b1;
  --font-color-links: var(--color-gray-60); // The name might change
  --font-family: 'Archivo', sans-serif;
}
