:root {
  --color-gray-70: #505050;
  --border-color: #C6C6C6;
  --join-bg-color: linear-gradient(135deg, #CD1AFF 0%, #1D80FF 100%);
  --footer-bg-color: #F9F9FD;
  --primary-violet: #5B43B1;
  --font-color-links: #686868; // The name might change
  --font-family: 'Archivo', sans-serif;
}