@font-face {
  font-family: archivo;
  font-style: normal;
  font-weight: 400 600;
  src: url(../../fonts/Archivo/archivo.woff2) format('woff2');
}

@font-face {
  font-family: archivo;
  font-style: italic;
  font-weight: 400 600;
  src: url(../../fonts/Archivo/archivo-italic.woff2) format('woff2');
}

body {
  font-family: var(--font-family);
}

h1 {
  font-size: 4rem;
  color: var(--color-primary-text);
  font-weight: 600;
}
