<!-- one more header, which is specific only to this view -->
<header class="d-flex" *transloco="let t;">
  <ob-erasmus-reveal-app-logo class="mx-auto"></ob-erasmus-reveal-app-logo>
</header>

<ng-container *transloco="let t;read: 'endorse_skills'">
  <div *ngIf="!endorsementComplete" class="container my-endorser-details">
    <form class="my-form" [formGroup]="formGroup" (submit)="onSubmit()">
      <div class="my-dialog-content">
        <!-- Since we are using 1 formGroup -->
        <mat-stepper #stepper linear>
          <!-- Step 1 -->
          <mat-step formGroupName="step1">
            <h1>{{ t('step_1.heading', {user: requestingUser}) }}</h1>
            <h2>{{ t('step_1.about') }}</h2>
            <p>{{ t('step_1.description') }}</p>
            <div class="row">
              <div class="col-lg-12 d-flex flex-column mb-4">
                <label for="fromEmail">{{ t('email') }}</label>
                <input class="w-50" id="fromEmail" formControlName="fromEmail">
              </div>
              <div class="col-lg-6 d-flex flex-column mb-5">
                <label for="fromLastName">{{ t('surname') }} {{ t('optional') }}</label>
                <input id="fromLastName" formControlName="fromLastName">
              </div>
              <div class="col-lg-6 d-flex flex-column mb-5">
                <label for="fromFirstName">{{ t('name') }} {{ t('optional') }}</label>
                <input id="fromFirstName" formControlName="fromFirstName">
              </div>

              <div class="col-lg-12 d-flex flex-column mb-5">
                <label for="relationshipType">{{ t('relationship_level', {user: requestingUser}) }}</label>
                <select class="w-50" name="relationshipType" id="relationshipType" formControlName="relationshipType"
                        pl>
                  <option value="" selected>{{ t('select_relationship') }}</option>
                  <option *ngFor="let relation of relationType"
                          [value]="relation['@id']"> {{ relation.prefLabel | czLabel }}
                  </option>
                </select>
              </div>
            </div>
            <button type="button" [disabled]="!formGroup.value.step1?.relationshipType" class="app-button"
                    color="primary" matStepperNext>{{ t('next') }}</button>
          </mat-step>
          <!-- Step 2 -->
          <mat-step formGroupName="step2">
            <button class="app-anchor my-back-button" color="primary" matStepperPrevious>
              <mat-icon>arrow_forward_ios</mat-icon>
              {{ t('back') }}
            </button>
            <h2 class="mt-3">{{ t('step_2.heading') }}</h2>
            <p>{{ t('step_2.description') }}</p>
            <div class="row">
              <div class="col-lg-6 d-flex flex-column mb-4">
                <label for="fromCountry">{{ t('country') }}&nbsp;{{ t('optional') }}</label>
                <select name="fromCountry" id="fromCountry" formControlName="fromCountry">
                  <option *ngFor="let country of countries"
                          [value]="country['@id']"> {{ country.prefLabel | czLabel }}</option>
                </select>
              </div>
            </div>
            <button type="button" class="app-button mt-5" color="primary" matStepperNext>{{ t('next') }}</button>
          </mat-step>
          <!-- Step 3 -->
          <mat-step formGroupName="step3">
            <button class="app-anchor my-back-button" color="primary" matStepperPrevious>
              <mat-icon>arrow_forward_ios</mat-icon>
              {{ t('back') }}
            </button>
            <h2 class="mt-3">{{ t('step_3.heading', {user: requestingUser}) }}</h2>
            <ng-container *ngIf="skills$ | async as skills">
              <ob-erasmus-reveal-skills-feedback [skills]="skills"
                                                 (selectSkills)="getSelectedSkills($event)"></ob-erasmus-reveal-skills-feedback>
            </ng-container>
            <button type="button" [disabled]="selectedSkills.length === 0" class="app-button" color="primary"
                    matStepperNext>{{ t('next') }}</button>
          </mat-step>

          <!-- Step 4 -->
          <mat-step formGroupName="step4">
            <button class="app-anchor my-back-button" color="primary" matStepperPrevious>
              <mat-icon>arrow_forward_ios</mat-icon>
              {{ t('back') }}
            </button>
            <label for="text" class="my-label mt-3 d-block">{{ t('step_4.heading', {user: requestingUser}) }}</label>

            <div class="my-form-field">
              <textarea [placeholder]="t('step_4.placeholder_text')" id="text" formControlName="text"
                        cdkTextareaAutosize></textarea>
            </div>

            <button type="submit" [disabled]="!formGroup.value.step4?.text" class="app-button" color="primary"
                    matStepperNext>{{ t('step_4.send_answers') }}</button>
          </mat-step>
        </mat-stepper>
      </div>
    </form>
  </div>
  <div *ngIf="endorsementComplete" class="container my-endorser-signup">
    <ob-erasmus-reveal-endorsement-complete [requestingUser]="requestingUser"></ob-erasmus-reveal-endorsement-complete>
  </div>
</ng-container>