<footer *transloco="let t;">
  <div class="container">
    <!-- Social media and login -->
    <nav class="my-footer">
      <img width="158" height="36" ngSrc="assets/images/logo/reveal-logo.svg" [alt]="t('global.logo_alt')" />
      <div>
        <p>{{ t('footer.discover') }}</p>
        <ul>
          <li *ngFor="let discover of discoverItems">
            <a>{{ t(discover.labelKey) }}</a>
          </li>
        </ul>
      </div>
      <div>
        <p>{{ t('footer.follow') }}</p>
        <ul>
          <li *ngFor="let media of socialMedia">
            <a>{{ t(media.labelKey) }}</a>
          </li>
        </ul>
      </div>
      <div>
        <p>{{ t('footer.join_now') }}</p>
        <ob-erasmus-reveal-signup></ob-erasmus-reveal-signup>
      </div>
    </nav>
  </div>
  <!-- Policies -->
  <div class="my-sub-footer">
    <div class="container d-flex justify-content-between">
      <div class="my-copyright">© {{ year }} {{ t('global.application_name') }}</div>
      <div>
        <a class="my-sub-footer-links"> {{ t('footer.terms_of_use') }}</a>
        <a class="my-sub-footer-links">{{ t('footer.accessibility') }}</a>
        <a class="my-sub-footer-links">{{ t('footer.privacy_policy') }}</a>
      </div>
    </div>
  </div>
</footer>
