@use 'abstracts/mixins' as *;

nav {
  ul {
    @include reset-ul;
    display: flex;
    gap: 1rem;
  }
}

a,
button {
  &.is-active {
    color: var(--primary-violet);
  }
}

.my-auth-links {
  display: flex;
  align-items: center;
  margin-left: 6rem;
  gap: 1rem;
}
