<header *transloco="let t" class="container d-flex align-items-center">
  <ob-erasmus-reveal-app-logo></ob-erasmus-reveal-app-logo>
  <div class="flex-grow-1"></div>
  <nav>
    <ul>
      <li>
        <a routerLink="/global-skills" routerLinkActive="is-active" class="app-button">{{ t('header.skills') }}</a>
      </li>
      <li>
        <a class="app-button">{{ t('global.about') }}</a>
      </li>
    </ul>
  </nav>
  <!-- TODO , make this a component maybe -->
  <button class="app-button ml-3" [cdkMenuTriggerFor]="menu">
    <mat-icon>language</mat-icon>
    {{ t('langs.' + i18nService.getActiveLang()) }}
  </button>

  <div class="my-auth-links">
    <a routerLink="/login" class="app-button">{{ t('header.sign_in') }}</a>
    <a routerLink="/signup" class="app-button" color="primary">{{ t('header.get_started') }}</a>
  </div>

  <ng-template #menu>
    <div class="app-cdk-menu" cdkMenu>
      <button
          cdkMenuItem
          *ngFor="let lang of i18nService.getAvailableLangs()"
          [class.is-active]="lang === i18nService.getActiveLang()"
          (click)="languageService.setActiveLang(lang)"
      >
        {{ t('langs.' + lang) }}
      </button>
    </div>
  </ng-template>
</header>
