<ob-erasmus-reveal-my-profile-header></ob-erasmus-reveal-my-profile-header>
<ng-container *transloco="let t;read: 'my_profile'">
  <div class="container my-profile">
    <img width="96" height="96" ngSrc="assets/images/icon-svgs/icon-fullcircle-smile_gray.svg">
    <div class="ml-5">
      <h1>{{ authService.currentUser.email }}</h1>
      <div class="d-flex my-meta-information">
        <p>{{ t('skills', {count: 0}) }} </p>
        <p class="pl-5">{{ t('endorsements', {count: 0}) }} </p>
      </div>
    </div>
  </div>

  <!-- TODO - show this div only when skill count for the use is 0 -->
  <div class="container my-endorsements-details">
    <mat-icon>more_horiz</mat-icon>
    <h1>{{ t('add_new_heading') }}</h1>
    <p>{{ t('add_new_description') }}</p>
    <a routerLink="/feedback-request/create" class="app-button" color="primary">{{ t('ask_for_endorsement') }}</a>
  </div>
</ng-container>
<ob-erasmus-reveal-my-profile-footer></ob-erasmus-reveal-my-profile-footer>