<footer *transloco="let t;">
  <div class="container d-flex justify-content-between">
    <nav class="d-flex align-items-center">
      <img width="105" height="24" ngSrc="assets/images/logo/reveal-logo.svg" [alt]="t('global.logo_alt')"/>
      <div class="my-copyright pl-3">© {{ year }}</div>
    </nav>

    <div class="d-flex align-items-center">
      <button class="app-button ml-3" [cdkMenuTriggerFor]="menu">
        <mat-icon>language</mat-icon>
        {{ t('langs.' + i18nService.getActiveLang()) }}
      </button>

      <div>
        <a class="app-sub-footer-links"> {{ t('footer.terms_of_use') }}</a>
        <a class="app-sub-footer-links">{{ t('footer.accessibility') }}</a>
        <a class="app-sub-footer-links">{{ t('footer.privacy_policy') }}</a>
      </div>
    </div>
  </div>

  <ng-template #menu>
    <div class="app-cdk-menu" cdkMenu>
      <button
          cdkMenuItem
          *ngFor="let lang of i18nService.getAvailableLangs()"
          [class.is-active]="lang === i18nService.getActiveLang()"
          (click)="languageService.setActiveLang(lang)"
      >
        {{ t('langs.' + lang) }}
      </button>
    </div>
  </ng-template>
</footer>
