.my-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  h1 {
    font-size: 1.5rem;
  }

  p {
    color: var(--color-gray-60)
  }
}

h1, h2 {
  color: var(--color-gray-70);
}

h2 {
  font-size: 0.75rem;
}

mat-icon {
  color: var(--primary-violet);
  padding-bottom: 4rem;
}

.my-endorsements-details {
  width: 750px;
  border-radius: 26px;
  background-color: var(--color-white);
  box-shadow: 0 2px 8px 0 rgba(40, 41, 61, 0.08), 0 20px 32px 0 rgba(96, 97, 112, 0.24);
  text-align: center;
  padding: 1.5rem 2.5rem 3.5rem 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 2rem;
    margin-bottom: 3rem
  }

  p {
    color: var(--color-primary-text);
    margin-bottom: 2.5rem;
  }

  a {
    font-size: 1.5rem;
    padding: 1.5rem;
  }
}