<header *transloco="let t" class="container d-flex align-items-center">
  <a routerLink="/profile">
    <img priority width="158" height="36" ngSrc="assets/images/logo/reveal-logo-square.svg" [alt]="t('global.logo_alt')"/>
  </a>
  <div class="flex-grow-1"></div>
  <nav>
    <ul>
      <li *ngFor="let item of header">
        <a routerLinkActive="is-active" class="app-button" [routerLink]="item.path" [ngClass]="item.className">{{ t(item.label) }}</a>
      </li>
    </ul>
  </nav>

  <button class="app-button ml-3" [cdkMenuTriggerFor]="menu">
    <img width="52" height="52" ngSrc="assets/images/icon-svgs/icon-fullcircle-smile_purple.svg" />
  </button>

  <ng-template #menu>
    <div class="app-cdk-menu" cdkMenu>
      <button class="my-menu-item" cdkMenuItem>
        <mat-icon>settings</mat-icon>
        {{ t('profile_header.settings') }}
      </button>
      <button cdkMenuItem>
        <mat-icon>logout</mat-icon>
        {{ t('profile_header.logout') }}
      </button>
    </div>
  </ng-template>
</header>
