@use 'abstracts/mixins' as *;

.my-form {
  @include form-container;
  @include app-form-steps;
  margin-top: 5rem;
  height: 700px;
  margin-bottom: 5rem;
  width: 900px;
  padding: 6.5rem 2rem;
}

h1 {
  margin-top: 2rem;
  font-size: 2rem;
  margin-bottom: 2.5rem;
  color: var(--color-gray-70);
  text-align: center;
}

p {
  color: var(--color-gray-60);
  margin-bottom: 2.5rem;
}

.my-back-button {
  @include back-button
}

:host::ng-deep {
  .mat-horizontal-stepper-header-container {
    display: none !important; // This is needed
  }
}