<form class="container my-form" [formGroup]="formGroup" *transloco="let t;" (submit)="onSubmit()">
  <div>
    <!-- Since we are using 1 formGroup -->
    <mat-stepper #stepper linear>
      <!-- step 0 starts here -->
      <mat-step *transloco="let t;read: 'complete_profile'">
        <div class="d-flex flex-column align-items-center">
          <img ngSrc="assets/images/icon-svgs/icon-bubble-check.svg" width="64" height="64" [alt]="t('get_started.heading')" />
          <h1>{{ t('get_started.heading') }}</h1>
          <p>{{ t('get_started.description') }}</p>
          <ob-erasmus-reveal-language-selection></ob-erasmus-reveal-language-selection>
          <button type="button" class="app-button mt-5" color="primary" matStepperNext>{{ t('get_started.start') }}</button>
        </div>
      </mat-step>
      <!-- step 0 ends here -->
      <!-- Step 1 -->
      <mat-step formGroupName="step1">
        <button class="app-anchor my-back-button" color="primary" matStepperPrevious>
          <mat-icon>arrow_forward_ios</mat-icon>
          {{ t('complete_profile.back') }}
        </button>
        <h1>{{ t('complete_profile.step_1.heading') }}</h1>
        <p>{{ t('complete_profile.step_1.description') }}</p>
        <div class="row">
          <div class="col-lg-12 d-flex flex-column mb-4">
            <label for="email">{{ t('global.email') }}</label>
            <input class="w-50" id="email" formControlName="email" />
          </div>
          <div class="col-lg-6 d-flex flex-column mb-5">
            <label for="lastName">{{ t('global.surname') }}</label>
            <input id="lastName" formControlName="lastName" />
          </div>
          <div class="col-lg-6 d-flex flex-column mb-5">
            <label for="firstName">{{ t('global.name') }}</label>
            <input id="firstName" formControlName="firstName" />
          </div>
        </div>
        <button type="button" class="app-button mt-5" color="primary" matStepperNext [disabled]="!formGroup.controls.step1.valid">
          {{ t('global.next') }}
        </button>
      </mat-step>
      <!-- Step 2 -->
      <mat-step formGroupName="step2">
        <button class="app-anchor my-back-button" color="primary" matStepperPrevious>
          <mat-icon>arrow_forward_ios</mat-icon>
          {{ t('complete_profile.back') }}
        </button>
        <h1>{{ t('complete_profile.step_2.heading') }}</h1>
        <p>{{ t('complete_profile.step_2.description') }}</p>
        <div class="row">
          <div class="col-lg-6 d-flex flex-column mb-4">
            <label for="country">{{ t('global.country') }}</label>
            <select name="country" id="country" formControlName="country">
              <option *ngFor="let country of countries" [value]="country['@id']">{{ country.prefLabel | czLabel: lang }}</option>
            </select>
          </div>
        </div>
        <button
          [disabled]="!formGroup.value.step2?.country || (loadingService.loading$ | async)"
          type="submit"
          class="app-button mt-5"
          color="primary"
        >
          {{ t('global.next') }}
        </button>
        <mat-progress-bar *ngIf="loadingService.loading$ | async" mode="indeterminate"></mat-progress-bar>
      </mat-step>
    </mat-stepper>
  </div>
</form>
