%app-button-base {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  text-decoration: none;

  mat-icon {
    margin-right: 0.5rem;
  }
}

%app-button-medium-text {
  font-size: 0.875rem;
  letter-spacing: 0.25px;
  line-height: 1rem;
}

@mixin app-button {
  @extend %app-button-base;
  color: var(--color-gray-60);

  &[color='primary'] {
    @extend %app-button-medium-text;
    background-color: var(--primary-violet);
    color: var(--color-white);

    &[disabled] {
      @include app-disabled-button
    }
  }
}

@mixin app-button-stroked {
  @extend %app-button-base;
  @extend %app-button-medium-text;
  color: var(--primary-violet);
  border: 2px solid var(--primary-violet);
}

@mixin app-anchor {
  text-decoration: underline;
  font-weight: bold;
  color: var(--color-white);

  &[color='primary'] {
    color: var(--primary-violet);
  }
}

a,
button {
  &.app-button {
    @include app-button();
  }

  &.app-button-stroked {
    @include app-button-stroked();
  }

  &.app-anchor {
    @include app-anchor;
  }
}
