.app-sub-footer-links {
  font-size: 1rem;
  color: var(--color-gray-70);
  line-height: 1.5rem;
  padding-left: 2rem;
  text-decoration: underline;
}

.app-copyright {
  color: var(--color-gray-70);
  font-size: 0.75rem;
  letter-spacing: 0;
  padding-top: 0.25rem;
}

// TODO - modify footer and make it simpler