@mixin app-header {
  padding: 2rem 0;
  position: relative;
  z-index: 1;
}

header {
  @include app-header;

  nav {
    ul {
      @include reset-ul;
      display: flex;
      gap: 1rem;
    }
  }
}