@use 'abstracts/mixins' as *;

:host {
  display: block;
  width: 750px;
  height: 550px;
}

h1 {
  @include skill-header;
}

.my-form {
  @include app-form-steps
}

:host::ng-deep {
  .mat-horizontal-stepper-header-container {
    display: none !important; // This is needed
  }
}