<form class="my-form" [formGroup]="formGroup" *transloco="let t;" (submit)="onSubmit()">
  <div class="my-dialog-content">
    <!-- Since we are using 1 formGroup -->
    <mat-stepper #stepper linear>
      <!-- Step 1 -->
      <mat-step formGroupName="step1">
        <h1>{{ t('complete_profile.step_1.heading') }}</h1>
        <p>{{ t('complete_profile.step_1.description') }}</p>
        <div class="row">
          <div class="col-lg-12 d-flex flex-column mb-4">
            <label for="email">{{ t('global.email') }}</label>
            <input class="w-50" id="email" formControlName="email">
          </div>
          <div class="col-lg-6 d-flex flex-column mb-5">
            <label for="lastName">{{ t('global.surname') }}</label>
            <input id="lastName" formControlName="lastName">
          </div>
          <div class="col-lg-6 d-flex flex-column mb-5">
            <label for="firstName">{{ t('global.name') }}</label>
            <input id="firstName" formControlName="firstName">
          </div>
        </div>
        <button type="button" class="app-button" color="primary" matStepperNext>{{ t('global.next') }}</button>
      </mat-step>
      <!-- Step 2 -->
      <mat-step formGroupName="step2">
        <h1>{{ t('complete_profile.step_2.heading') }}</h1>
        <p>{{ t('complete_profile.step_2.description') }}</p>
        <div class="row">
          <div class="col-lg-6 d-flex flex-column mb-4">
            <label for="country">{{ t('global.country') }}</label>
            <select name="country" id="country" formControlName="country">
              <option *ngFor="let country of countries"
                      [value]="country['@id']"> {{ country.prefLabel | czLabel }}</option>
            </select>
          </div>
        </div>
        <button type="submit" class="app-button" color="primary" matStepperNext>{{ t('global.next') }}</button>
      </mat-step>
      <!-- Might need this after discussion -->
      <!--<mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>-->
    </mat-stepper>
  </div>
</form>