<ng-container *transloco="let t; read: 'about'">
  <!-- skills description -->
  <section class="container d-flex">
    <div class="my-left-column">
      <section class="my-skills">
        <article>
          <h2 class="my-heading">{{ t('skills.part_1.heading_1') }}</h2>
          <h3 class="my-heading">{{ t('skills.part_1.heading_2') }}</h3>
          <p class="my-text mb-0">{{ t('skills.part_1.description_1') }}</p>
          <p>{{ t('skills.part_1.description_2') }}</p>
          <p><strong>{{ t('skills.part_1.description_3') }}</strong></p>
          <img priority width="550" height="464" ngSrc="assets/images/homepage/home-skills-1.webp" [alt]="t('skills.part_1.logo_alt')" />
        </article>
      </section>
      <section class="my-skills">
        <article>
          <h2 class="my-heading">{{ t('skills.part_2.heading_1') }}</h2>
          <p class="my-text">{{ t('skills.part_2.description_1') }}</p>
          <p><strong>{{ t('skills.part_2.description_2') }}</strong></p>
          <!-- Using *ngFor to force re-render on lang change -->
          <img *ngFor="let lang of [i18nService.getActiveLang()]" width="550" height="352"
               [ngSrc]="'assets/images/homepage/home-skills-smiling_' + lang +  '.webp'"
               [alt]="t('skills.part_2.logo_alt')"/>
        </article>
      </section>
    </div>
    <div class="my-right-column">
      <section class="my-skills">
        <article>
          <h2 class="my-heading">{{ t('skills.part_3.heading_1') }}</h2>
          <p class="my-text"><strong>{{ t('skills.part_3.description_1') }}</strong></p>
          <p>{{ t('skills.part_3.description_2') }}</p>
          <!-- Using *ngFor to force re-render on lang change -->
          <img *ngFor="let lang of [i18nService.getActiveLang()]" width="550" height="352"
               [src]="'assets/images/homepage/home-skills-woodworking_' + lang +  '.webp'"
               [alt]="t('skills.part_3.logo_alt')"/>
        </article>
      </section>
    </div>
  </section>
</ng-container>