.my-heading {
  font-size: 3.75rem;
  color: var(--color-primary-text);
  margin-bottom: 0;
}

.my-left-column {
  section {
    margin-bottom: 2.5rem;
    background-color: var(--color-ghost-white);
    // TODO - find a way to use the same variable and assign different colors based on sections

    &:nth-child(2) {
      background-color: var(--color-floral-white);
    }
  }
}

.my-right-column {
  margin-left: 1.5rem;
  display: flex;
  align-items: center;

  section {
    background-color: var(--color-pale-yellow);
  }
}

.my-skills {
  border-radius: var(--skills-border-radius);
  padding: 2.5rem;
  width: 620px;

  p {
    color: var(--color-primary-text);
    font-size: 1rem;
  }
}

.my-text {
  margin-top: 1.5rem;
}