<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="nl">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Halo!</title>
  </head>
  <body>
    <div>
      <img style="vertical-align: middle" th:src="|cid:${imageName}|" />
      <span
        style="
          color: #5b43b1;
          font-family: Archivo;
          font-weight: bold;
          font-size: 20px;
        "
        >Reveal</span
      >
    </div>

    <h1 style="color: #5b43b1; font-family: Archivo">Hallo!</h1>

    <h3 th:text="${user + ' heeft uw hulp nodig:'} "></h3>
    <p th:text="${message}"></p>

    <div
      style="
        width: 170px;
        max-width: 170px;
        background-color: #5b43b1;
        display: inline-block;
        margin-top: 16px;
        text-align: center;
      "
    >
      <a
        th:href="${url}"
        style="
          font-family: Archivo;
          display: inline-block;
          background-color: #5b43b1;
          border: 1px solid #5b43b1;
          border-radius: 10px;
          padding-top: 16px;
          padding-bottom: 16px;
          padding-left: 16px;
          padding-right: 16px;
          min-width: 120px;
          color: white;
          text-decoration: none;
        "
        >Geef uwe onderschrijving</a
      >
    </div>
  </body>
</html>
