<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Hello!</title>
</head>
<body>
<div>
    <img style="vertical-align:middle" th:src="|cid:${imageName}|">
    <span style="color: #5B43B1;font-family: Archivo;  font-weight: bold; font-size: 20px;">Reveal</span>
</div>

<h1 style="color: #5B43B1;font-family: Archivo;">Hello!</h1>
<p>Hello!</p>
<p>Welcome back to the Reveal community! We're glad to see you again.</p>
<p> To continue your recognition journey, please click on the link below:</p>
<a th:href="${url}" th:text="${url}"></a>
</body>
</html>
