<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="sl">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Pozdravljeni!</title>
  </head>
  <body>
    <div>
      <img style="vertical-align: middle" th:src="|cid:${imageName}|" />
      <span
        style="
          color: #5b43b1;
          font-family: Archivo;
          font-weight: bold;
          font-size: 20px;
        "
        >Reveal</span
      >
    </div>

    <h1 style="color: #5b43b1; font-family: Archivo">Pozdravljeni!</h1>
    <p>Dobrodošli v skupnosti Reveal! Veseli smo, da ste spet z nami.</p>
    <p>Če želite nadaljevati proces priznavanja, kliknite spodnjo povezavo:</p>
    <a th:href="${url}" th:text="${url}"></a>
  </body>
</html>
