<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
    <img style="vertical-align:middle" th:src="|cid:${imageName}|">
    <span style="color: #5B43B1;font-family: Archivo;  font-weight: bold; font-size: 20px;">Reveal</span>
</div>

<h1 style="color: #5B43B1;font-family: Archivo;">Ciao!</h1>
<p>Benvenuto nella community di Reveal, dove puoi condividere le tue abilità, chiedere e dare conferme. Puoi chiedere
    conferme in questo momento per tutte le tue abilità, anche quelle che ritieni non valga la pena condividere! Saresti
    sorpreso di scoprire come le persone intorno a te utilizzano le conoscenze che hanno maturato in anni di esperienza
    nel mondo del lavoro e nella vita privata.
</p>
<button style="
        color: white;
        font-family: Archivo;
        background-color:#5B43B1;
        border:none;
        border-radius:10px;
        padding:15px;
        min-width: 120px">
    <a th:href="${url}" style="text-decoration: none;color: white">
        <span>Completa il tuo profilo</span>
    </a>
</button>
</body>
</html>
