<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Bonjour!</title>
  </head>
  <body>
    <div>
      <img style="vertical-align: middle" th:src="|cid:${imageName}|" />
      <span
        style="
          color: #5b43b1;
          font-family: Archivo;
          font-weight: bold;
          font-size: 20px;
        "
        >Reveal</span
      >
    </div>

    <h1 style="color: #5b43b1; font-family: Archivo">Bonjour!</h1>
    <p>
      Bienvenue dans la communauté Reveal ! Nous sommes heureux de vous revoir.
    </p>
    <p>
      Pour poursuivre ton parcours de reconnaissance, clique sur le lien
      ci-dessous :
    </p>
    <a th:href="${url}" th:text="${url}"></a>
  </body>
</html>
