<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Hello!</title>
</head>
<body>
<div>
    <img style="vertical-align:middle" th:src="|cid:${imageName}|">
    <span style="color: #5B43B1;font-family: Archivo;  font-weight: bold; font-size: 20px;">Reveal</span>
</div>

<h1 style="color: #5B43B1;font-family: Archivo;">Salut!</h1>
<p>Bienvenue dans la communauté Reveal, où vous pouvez partager vos compétences, demander et donner des recommandations.
    Vous pouvez demander des recommandations dès maintenant pour toutes vos compétences, même celles qui, selon vous, ne
    valent pas la peine d'être partagées ! Vous seriez surpris de découvrir comment les gens autour de vous utilisent
    les connaissances qu'ils ont acquises grâce à des années d'expérience dans le travail et dans la vie privée.
</p>
<button style="
        color: white;
        font-family: Archivo;
        background-color:#5B43B1;
        border:none;
        border-radius:10px;
        padding:15px;
        min-width: 120px">
    <a th:href="${url}" style="text-decoration: none;color: white">
        <span>Completez votre profile</span>
    </a>
</button>
</body>
</html>
