<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="el">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
    <img style="vertical-align:middle" th:src="|cid:${imageName}|">
    <span style="color: #5B43B1;font-family: Archivo;  font-weight: bold; font-size: 20px;">Reveal</span>
</div>
<h1 style="color: #5B43B1;font-family: Archivo;">Γεια σας!</h1>
<p>Καλώς ήρθατε στην κοινότητα του Reveal, όπου μπορείτε να μοιραστείτε τις δεξιότητές σας, να ζητήσετε και να δώσετε
    αξιολογήσεις. Μπορείτε να ζητήσετε αξιολογήσεις τώρα για όλες τις δεξιότητές σας, ακόμα και αυτές που πιστεύετε ότι
    δεν
    αξίζει να τις μοιραστείτε! Θα εκπλαγείτε αν μάθετε πώς οι άνθρωποι γύρω σας χρησιμοποιούν τις γνώσεις που έχουν
    αποκτήσει από την πολυετή εμπειρία στον εργασιακό χώρο και στην ιδιωτική ζωή.</p>
<button style="
        color: white;
        font-family: Archivo;
        background-color:#5B43B1;
        border:none;
        border-radius:10px;
        padding:15px;
        min-width: 120px">
    <a th:href="${url}" style="text-decoration: none;color: white">
        <span>Ολοκληρώστε το προφίλ σας</span>
    </a>
</button>
</body>
</html>
