<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Ciao!</title>
  </head>
  <body>
    <div>
      <img style="vertical-align: middle" th:src="|cid:${imageName}|" />
      <span
        style="
          color: #5b43b1;
          font-family: Archivo;
          font-weight: bold;
          font-size: 20px;
        "
        >Reveal</span
      >
    </div>

    <h1 style="color: #5b43b1; font-family: Archivo">Ciao!</h1>
    <p>Ben ritornato nella community di REVEAL! Siamo contenti di rivederti.</p>
    <p>
      Per continuare il tuo viaggio di validazione delle tue competenze, clicca
      nel link sotto:
    </p>
    <a th:href="${url}" th:text="${url}"></a>
  </body>
</html>
