<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="sl">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <div>
      <img style="vertical-align: middle" th:src="|cid:${imageName}|" />
      <span
        style="
          color: #5b43b1;
          font-family: Archivo;
          font-weight: bold;
          font-size: 20px;
        "
        >Reveal</span
      >
    </div>

    <h1 style="color: #5b43b1; font-family: Archivo">Pozdavljeni!</h1>
    <p>
      Dobrodošli v skupnosti Reveal, kjer lahko delite svoje spretnosti, prosite
      za potrditve in jih podeljujete. Zaprosite lahko za potrditve za vse svoje
      spretnosti, tudi za tiste, za katere menite, da jih ni vredno deliti!
      Presenečeni boste, ko boste ugotovili, kako ljudje okoli vas uporabljajo
      znanje, pridobljeno z dolgoletnimi izkušnjami na delovnem mestu in v
      zasebnem življenju.
    </p>
    <div
      style="
        width: 170px;
        max-width: 170px;
        background-color: #5b43b1;
        display: inline-block;
        margin-top: 16px;
        text-align: center;
      "
    >
      <a
        th:href="${url}"
        style="
          font-family: Archivo;
          display: inline-block;
          background-color: #5b43b1;
          border: 1px solid #5b43b1;
          border-radius: 10px;
          padding-top: 16px;
          padding-bottom: 16px;
          padding-left: 16px;
          padding-right: 16px;
          min-width: 120px;
          color: white;
          text-decoration: none;
        "
        >Dokončajte svoj profil.</a
      >
    </div>
  </body>
</html>
